@charset "UTF-8";

body {font-family: 맑은고딕;}
h1{
	font-family: 궁서;
	font-size: 30px;
	letter-spacing: 15px;
}
h2{font-size: 25px;}
h3{font-size: 20px;}
ul {list-style-type: square;}
ol {list-style-type: none;}
th {background-color: #C8EBFA;}
tbody tr:hover {background-color: #EDD3ED;}
.ita {font-style: italic;}
.blue {color: #0000ff;}
.red {color: #ff0000;}
.green {color: #00ff00;}
.udln {text-decoration: underline;}
.bold {font-weight: bold;}
.his_back {background-color: #D9D9D9;}
.tab {text-indent: 30px;}
.speed {text-align: right;}
.speed:before {content: "약 "}
.speed:after {content: "(MB/초)"}
.nation:link {color: #000000; text-decoration: none;}
.nation:visited {color: #000000;}
.nation:hover {color: #0000ff; text-decoration: underline;}
.nation:active {color: #0000ff; text-decoration: underline;}
